@media print {
	html,
	body {
	    display: none;
	}
}

.list-group-item:hover {
    background-color: #ccc; /* Change the background color on hover */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}
